*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  line-height: 1.6;
  font-size: 1.1rem;
  /* font-family: Charter, "Bitstream Charter", "Sitka Text", Cambria, serif; */
  font-family: "Iowan Old Style", "Palatino Linotype", "URW Palladio L", P052,
    serif;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
}

/* ---------- */
/* Typography */
/* ---------- */

body {
  line-height: 1.6;
  font-size: 1.1rem;
  /* Old Style - https://modernfontstacks.com/#font-stacks */
  font-family: "Iowan Old Style", "Palatino Linotype", "URW Palladio L", P052,
    serif;
  font-weight: normal;
}

.sans {
  /* Humanist - https://modernfontstacks.com/#font-stacks */
  font-family: Seravek, "Gill Sans Nova", Ubuntu, Calibri, "DejaVu Sans",
    source-sans-pro, sans-serif;
  font-weight: normal;
}

/* Styles for screen readers */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
