/* ----------------- */
/* Sensible defaults */
/* ----------------- */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none;
  line-height: 1.75;
  font-size: 1.1rem;
  /* Old Style - https://modernfontstacks.com/#font-stacks */
  font-family: "Iowan Old Style", "Palatino Linotype", "URW Palladio L", P052,
    serif;
  font-weight: normal;
}

body {
  margin: 0;
  min-height: 100vh;
}

/* Sensible media defaults */
img,
picture,
video,
canvas,
svg {
  max-width: 100%;
  display: block;
}

/* Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

/* Interactive elements should inherit typography in the first instance */
input,
button,
textarea,
select {
  font: inherit;
}

p {
  text-wrap: pretty;
  word-wrap: break-word;
}

/* Let's apply the same 'opt-in' styling that Tailwind Preflight uses */
a {
  color: inherit;
  -webkit-text-decoration: inherit;
  text-decoration: inherit;
}

/* In 90% of cases when we're just using normal links - what will we want to add back? */
a:not([class]) {
  text-decoration: underline;
  text-decoration-skip-ink: auto;
  text-decoration-color: palevioletred;
}

/* Typography */
.font-mono-slab {
  font-family: "Nimbus Mono PS", "Courier New", monospace;
}

.font-slab-serif {
  font-family: Rockwell, "Rockwell Nova", "Roboto Slab", "DejaVu Serif",
    "Sitka Small", serif;
  font-weight: normal;
}

.font-sans {
  /* Humanist - https://modernfontstacks.com/#font-stacks */
  font-family: Seravek, "Gill Sans Nova", Ubuntu, Calibri, "DejaVu Sans",
    source-sans-pro, sans-serif;
  font-weight: normal;
}

.font-weight-bold {
  font-weight: bold;
}

/* Screen Reader only utility */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
