/*
Styles applied to Markdown. All classes should carry the 'md-' prefix
*/

.md-container {
  /* Styles applied to the entire container */
}

.md-subtitle {
  font-style: italic;
}

.md-callout {
  padding: 12px;
  background-color: aliceblue;
}
