---
import "../../styles/global.css";

import MainNav from "@ui/MainNav.astro";
import SiteHeader from "@ui/SiteHeader.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dan Le Chambre</title>
  </head>
  <body>
    <SiteHeader />
    <MainNav />
    <slot />
  </body>
</html>
