---
import { getCollection, type CollectionEntry } from "astro:content";

import DefaultLayout from "@components/layouts/DefaultLayout.astro";
import { render } from "astro:content";
import SlashPageNav from "@components/ui/SlashPageNav.astro";
import { manuallyBuiltSlugs } from "@utils/content";
import DisplayHeading from "@components/ui/DisplayHeading.astro";
import MarkdownStylesWrapper from "@components/ui/MarkdownStylesWrapper.astro";

interface Props {
  page: CollectionEntry<"slashPages">;
}

export async function getStaticPaths() {
  const collection = await getCollection("slashPages");

  const filtered = collection.filter(
    (x) => !([...manuallyBuiltSlugs] as Array<string>).includes(x.data.slug),
  );

  return filtered.map((entry) => ({
    params: {
      slug: entry.data.slug,
    },
    props: {
      page: entry,
    },
  }));
}

const { page } = Astro.props;

const { Content } = await render(page);
---

<DefaultLayout title={page.data.slug}>
  <div class="stack-gap-3-6" slot="main">
    <DisplayHeading as="h1" size={4}>
      {page.data.title}
    </DisplayHeading>
    {
      page.data.description && (
        <p class="text-preset_subtitle">{page.data.description}</p>
      )
    }
    <MarkdownStylesWrapper>
      <Content />
    </MarkdownStylesWrapper>
  </div>
  <div slot="secondary">
    <SlashPageNav />
  </div>
</DefaultLayout>
