---
import "@styles/markdown-styles.css";
import "@styles/cv.css";

import SlashPageNav from "@components/ui/SlashPageNav.astro";
import DefaultLayout from "@components/layouts/DefaultLayout.astro";
import { Content as CvContent } from "@content/slash-pages/cv.md";
---

<DefaultLayout title="cv">
  <div class="cv_wrapper stack-gap-3-6" slot="main">
    <CvContent />
  </div>
  <SlashPageNav slot="secondary" />
</DefaultLayout>
