---
import MdStylesWrapper from "src/components/MdStylesWrapper.astro";
import { Content as WelcomeContent } from "../../content/welcome.md";

import RootLayout from "@layouts/RootLayout.astro";
import HomeLayout from "@layouts/HomeLayout.astro";
---

<RootLayout>
  <HomeLayout>
    <section>
      <header class="sr-only">
        <h1>Dan Le Chambre</h1>
        <p>Crafting Delightful Digital Experiences</p>
      </header>
      <div class="content-wrapper">
        <MdStylesWrapper>
          <WelcomeContent />
        </MdStylesWrapper>
      </div>
    </section>
  </HomeLayout>
</RootLayout>

<style>
  /* Copied from Tailwind for now */
  .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
  }
</style>
