---
import { Content as WelcomeContent } from "../../content/one-offs/welcome.md";

import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout>
  <section>
    <header>
      <h1>Dan Le Chambre</h1>
      <p>Crafting Delightful Digital Experiences</p>
    </header>
    <WelcomeContent />
  </section>
</MainLayout>
