---
import MdStylesWrapper from "src/components/MdStylesWrapper.astro";

import { Content as WelcomeContent } from "../../content/welcome.md";

import RootLayout from "@layouts/RootLayout.astro";
import ThreeColLayout from "@layouts/ThreeColLayout.astro";

import SlashPageNav from "@ui/SlashPageNav.astro";
import TagsNav from "@ui/TagsNav.astro";
import StandardLayout from "@layouts/StandardLayout.astro";
---

<StandardLayout>
  <header class="sr-only">
    <h1>Dan Le Chambre</h1>
    <p>Crafting Delightful Digital Experiences</p>
  </header>
  <MdStylesWrapper>
    <div class="content">
      <WelcomeContent />
    </div>
  </MdStylesWrapper>
</StandardLayout>

<style>
  .content {
    padding: 0.5rem 1.2rem;
    text-align: center;
  }

  @media screen and (min-width: 670px) {
    .content {
      text-align: initial;
      max-width: 60ch;
      place-self: end;
    }
  }

  @media screen and (min-width: 1024px) {
    .content {
      margin: 0 auto;
      margin-top: 2.5rem;
      place-self: initial;
    }
  }
</style>
