---
import SlashPageNav from "@components/ui/SlashPageNav.astro";
import DefaultLayout from "@components/layouts/DefaultLayout.astro";
import { getCollection, render, type CollectionEntry } from "astro:content";
import MarkdownStylesWrapper from "@components/ui/MarkdownStylesWrapper.astro";
import DisplayHeading from "@components/ui/DisplayHeading.astro";
import Subtitle from "@components/ui/Subtitle.astro";

interface Props {
  piece: CollectionEntry<"writing">;
}

export async function getStaticPaths() {
  const writing = await getCollection("writing");

  return writing.map((piece) => ({
    params: { slug: piece.id },
    props: { piece },
  }));
}

const { piece } = Astro.props;

const { Content } = await render(piece);
---

<DefaultLayout title={piece.data.title}>
  <div slot="main">
    <DisplayHeading as="h1" size={4}>
      {piece.data.title}
    </DisplayHeading>
    <Subtitle>
      {piece.data.description}
    </Subtitle>
    <MarkdownStylesWrapper>
      <Content />
    </MarkdownStylesWrapper>
  </div>
  <div slot="secondary">
    <SlashPageNav />
  </div>
</DefaultLayout>
