---
import { getCollection } from "astro:content";

import DefaultLayout from "@components/layouts/DefaultLayout.astro";
import SlashPageNav from "@components/ui/SlashPageNav.astro";
import ArticleListing from "@components/ui/ArticleListing.astro";

const writing = await getCollection("writing");

const content = [...writing].sort((a, b) =>
  a.data.createdDate > b.data.createdDate ? -1 : 1,
);
---

<DefaultLayout title="writing">
  <div class="stack-gap-3-6" slot="main">
    {content.map((c) => <ArticleListing entry={c} />)}
  </div>
  <div slot="secondary">
    <SlashPageNav />
  </div>
</DefaultLayout>
