<nav id="main-nav">
  <a class="main-nav-link sans" href="/writing">Writing</a>
  <a class="main-nav-link sans" href="/media-shelf">Media Shelf</a>
</nav>

<style>
  #main-nav {
    max-width: 80ch;
    margin: 0.5rem auto;
    margin-bottom: 0;
    display: flex;
    justify-content: end;
    gap: 1rem;
    padding: 0 0.5rem;
  }

  .main-nav-link {
    padding: 0 0.5rem;
    background-color: black;
    color: white;
    text-transform: uppercase;
    font-size: 0.85rem;
    font-weight: bold;
    text-decoration: underline dotted;
    text-underline-offset: 0.15rem;
    text-decoration-color: rgba(255, 255, 255, 0.65);
  }

  .main-nav-link:hover {
    text-decoration-color: rgba(255, 255, 255, 1);
  }
</style>
