<nav class="main-nav" aria-labelledby="nav-main">
  <h2 class="sr-only" id="nav-main">Main Navigation</h2>
  <a class="main-nav_link" href="/writing">Writing</a>
  <a class="main-nav_link" href="/work">Work</a>
  <a class="main-nav_link" href="/connect">Connect</a>
</nav>

<style>
  .main-nav {
    display: flex;
    justify-content: end;
    gap: var(--space-2-3);
    padding-inline: var(--space-2-3);
    padding-block: var(--space-1);
  }

  .main-nav_link {
    font-family: var(--font-display);
    font-size: var(--text-size--1);
    font-weight: 900;
    color: currentColor;
    letter-spacing: -0.03rem;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
  }
</style>
