<header>
  <div class="wrapper">
    <a class="link" href="/">
      <div class="font-sans link-wrapper">
        <span class="title">Dan Le Chambre</span>
        <p class="subtitle">Crafting Delightful Digital Experiences</p>
      </div>
    </a>
  </div>
</header>

<style>
  .wrapper {
    min-height: 8rem;
    border-bottom: 1px solid black;
  }

  .link {
    display: block;
    width: 100%;
    min-height: inherit;
    text-decoration: none;
  }

  .link-wrapper {
    text-align: center;
    min-height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .title {
    font-weight: 800;
    font-size: 2.75rem;
    color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    line-height: 1;
  }

  .subtitle {
    color: black;
  }

  .title,
  .subtitle {
    text-transform: lowercase;
  }
</style>
