<div class="site-header_wrapper">
  <a class="site-header_link" href="/">
    <svg
      class="site-header_svg"
      viewBox="0 0 400 100"
      xmlns="http://www.w3.org/2000/svg"
    >
      <text class="site-header_text-underlay" x="20" y="70">DanLeChambre</text>
      <text class="site-header_text" x="20" y="70">DanLeChambre</text>
    </svg>
  </a>
</div>
