---
import { getCollection } from "astro:content";

import { manuallyBuiltSlugs } from "@utils/content";

const slashPages = await getCollection("slashPages");

const filtered = slashPages.filter(
  (x) => !([...manuallyBuiltSlugs] as Array<string>).includes(x.data.slug),
);
---

<nav class:list={["stack-gap-1", "slash-page-nav"]}>
  <h2><span class="sr-only">Slash </span>Pages</h2>
  {
    filtered.map((p) => (
      <a class="slash-page-nav_link" href={`/${p.data.slug}`}>
        {p.data.slug}
      </a>
    ))
  }
</nav>

<style>
  h2 {
    position: relative;
    font-family: var(--font-display);
    font-weight: 900;
    text-transform: uppercase;
    font-size: var(--text-size--1);
  }

  h2::before {
    position: absolute;
    left: calc(var(--space-2) * -1);
    content: "\2044";
    font-family: var(--font-display);
    color: var(--color-red);
  }

  .slash-page-nav_link {
    display: block;
    line-height: 1;
    font-family: Courier, monospace;
    color: currentColor;
    font-size: var(--text-size-0);
    text-decoration-color: var(--color-red);
    text-underline-offset: 0.125rem;
  }
</style>
